* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    text-transform: capitalize;
    font-family: "Outfit", sans-serif;

}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5e1ef;
}

.container .box {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    width: 350px;
}

.container .box img {
    border-radius: 20px;
    width: 300px;
}

.container .box h2 {
    color: #3b4451;
    font-size: 23px;
    margin-top: 20px;
}

.container .box p {
    color: #777;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.6;
    font-size: 15px;

}